<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>复选框</title>
	</head>
	<body>
		<div id="app">
      <h3>单个复选框</h3>
      <p>
        <input type="checkbox" v-model="isAgree"><!-- v-model绑定的是布尔值，选中为true未选中为false -->
        <label>{{ isAgree }}</label>
      </p>

      <h3>多个复选框</h3>
      <p>

        <!-- v-model在多个复选框中绑定同一个数组，选中的复选框中内容保存在数组中 -->
        <input type="checkbox" v-model="interests" value="篮球">
        <label>篮球</label>
        <input type="checkbox" v-model="interests" value="足球">
        <label>足球</label>
        <input type="checkbox" v-model="interests" value="排球">
        <label>排球</label>
        <input type="checkbox" v-model="interests" value="游泳">
        <label>游泳</label>
      </p>
      <p>{{ interests }}</p>
      
		</div>
	
    <script src="../vue.js" type="text/javascript" charset="utf-8"></script>
		<script>
      const vm = Vue.createApp({
        data(){
          return {
            isAgree: true,
            interests: []
          }
        }
      }).mount('#app')
    </script>
	</body>
</html>

