<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>单选按钮</title>
	</head>
	<body>
		<div id="app">
      <!-- v-model绑定的数据属性的值会被设置为该单选钮的value值 -->
      <p>
        <input type="radio" v-model="gender" value="1">
        <label>男</label>
      </p>
      <p>
        <input type="radio" v-model="gender" value="0">
        <label>女</label>
      </p>
      <p>{{ gender }}</p>
		</div>
	
    <script src="../vue.js" type="text/javascript" charset="utf-8"></script>
		<script>
      const vm = Vue.createApp({
        data(){
          return {
            gender: ''
          }
        }
      }).mount('#app')
    </script>
	</body>
</html>

