<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
<!-- v-if\v-else-if\v-else这三个指令用于实现条件判断
    v-if指令根据表达式的值的真假来生成或删除一个元素
    如果v-if需要控制多个元素的创建或删除，可以用<template>元素来包裹这些元素
    然后再<template>元素上使用v-if指令
    v-else-if指令与v-if一起使用，可以实现互斥的条件判断 -->
        <h1 v-if="yes">yes</h1>
        <h1 v-if="no">no</h1>
        <h1 v-if="age>25">age:{{age}}</h1>
        <h1 v-if="name.indexOf('smith')>=5">name:{{name}}</h1><!-- .indexOf('smith')>=5意思是字符串smith在name:'will smith'里的位置是否>=5 -->
        <template v-if="!isLogin">
            <p>username:<input type="text"></p>
            <p>password:<input type="password"></p>
            <p><button>登录</button></p>
        </template>

    </div>
    <script src="vue.js" type="text/javascript" charset="utf-8"></script>

<script>
     
    
    var vm=Vue.createApp({
        data(){
            return{
                yes:true,
                no:false,
                age:28,
                name:'will smith',
                isLogin:false
            }
        }
    }).mount("#app")
</script>
</body>
</html>