<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>计算属性</title>
	</head>
	<body>
		<div id="app">
			<p>firstName: <input type="text" v-model="firstName"></p>
      <p>lastName: <input type="text" v-model="lastName"></p>
      <p>fullName: {{ fullName }}</p>
      <p>fullName: {{ fullName }}</p>
      <p>fullName: {{ fullName }}</p>
      <p>{{firstName}}</p>
		</div>
	
    <script src="vue.js" type="text/javascript" charset="utf-8"></script>

		<script>
      const vm = Vue.createApp({
        data(){
          return {
            firstName: 'san',
            lastName: 'zhang',
            a:[2,3],
            person: {
              name1: "2",
              n: "1"
            }
          }
        },
        methods: {
          func1() {
            console.log("ddd")
          }
        },
        created() {
          this.func1()
          setTimeout(() => {
                
                let names = "ztr ddd".split(' ')
                
                this.firstName = names[0]
                this.lastName = names[1]
                }, 2000);
        },/* vue创建后，但是还没有template的时候*/
        updated() {
          console.log("= = a5")
        },/* vue变量改变时，调用updated */
        mounted() {

        },/* vue创建后，template也被渲染的时候*/
        computed: {
          fullName: {
            //get作用：当有人读取fullname时，get会被调用，且返回值就是fullName的值
            get(){
              return this.firstName + ' ' + this.lastName
            },
            /* 修改fullName属性时调用的
            更改后的参数传进来 */
            set(newValue){
              console.log("= = a2")
              
              

              
            }
          }
        }
      }).mount('#app')
    </script>
	</body>
</html>

